{% extends 'base.html.twig' %}

{% block title %}Mon profil
{% endblock %}

{% block body %}
	<section class="profile">
		<h1 class="profile__title">{{ app.user.title }}
			{{ app.user.firstname }}
			{{ app.user.name }}</h1>
		<div class="profile__user">

			{% if app.user.title %}
				<div class="profile__user-item">
					<p class="profile__user-subtitle">Civilité</p>
					{% set titleFull = {
            'M': 'Monsieur',
            'Mme' :'Madame'
        }[app.user.title] ?? 'Non renseigné' %}
					<p class="profile__user-content">{{ titleFull }}</p>
				</div>
			{% endif %}

			<div class="profile__user-item">
				<p class="profile__user-subtitle">Prénom</p>
				<p class="profile__user-content">{{ app.user.firstname }}</p>
			</div>
			<div class="profile__user-item">
				<p class="profile__user-subtitle">Nom</p>
				<p class="profile__user-content">{{ app.user.name }}</p>
			</div>
			<div class="profile__user-item">
				<p class="profile__user-subtitle">Adresse email</p>
				<p class="profile__user-content">{{ app.user.email }}</p>
			</div>
		</div>

		<div class="profile__dogs">
			{% if dogs %}
				{% for dog in dogs %}
					<p>{{ dog.name }}</p>
				{% endfor %}
			{% endif %}
		</div>
		<div class="profile__trails">
			{% if trails %}
				{% for trail in trails %}
					<p>{{ trail.name }}</p>
				{% endfor %}
			{% endif %}
		</div>
		<div class="profile__walks">
			{% if walkRegistrations %}
				{% for walkRegistration in walkRegistrations %}
					<p>{{ walkRegistration.dateRegistration|format_datetime('full', 'short', locale: 'fr') }}</p>
				{% endfor %}
			{% endif %}
		</div>
	</section>
{% endblock %}
