{% extends 'base.html.twig' %}

{% block title %}Snif & Go
{% endblock %}

{% block body %}


	{# Page d'accueil pour utilisateurs connectés #}
	{% if app.user %}
		<section class="home-user">
			<h1 class="home-user__title">Bonjour
				{{ app.user.firstname }}
				{{ux_icon('fa6-solid:paw', {style: 'height: 1em'})}}</h1>
			<div class="home-user__intro">
				<div class="home-user__intro-wrapper">
					<p class="home-user__intro-content">Bienvenue sur votre espace. Ici, vous pouvez accédez à toutes les fonctionnalités de Snif & Go.
					</p>
					<p class="home-user__intro-content">Bonne balade !</p>
				</div>
			</div>

			<div class="home-user__walk">
				<h2 class="home-user__walk-title">Les prochaines balades</h2>
				<div class="home-user__walk--card">
					{% if nextWalks|length > 0 %}
						{% for walk in nextWalks %}
							<div class="home-user__walk-wrapper">
								<p class="home-user__walk-accent">{{ walk.date|date('d/m/Y') }}</p>
								<p class="home-user__walk-content">
									<strong>{{ walk.trail.name }}</strong>
								</p>
								<p class="home-user__walk-content">{{ walk.trail.startCity }}</p>
							</div>
							<div class="home-user__walk-wrapper">
								<a class="home-user__walk-button" href="{{ path('app_walk_registration_new', { walkId: walk.id }) }}">S'inscrire</a>
								<p class="home-user__walk-accent">{{ walk.maxDogs - walk.walkRegistration|length }}
									place{{ walk.maxDogs - walk.walkRegistration|length > 1 ? "s" : "" }}
									restantes</p>

							</div>
						{% endfor %}
					</div>
				{% else %}
					<p>Aucune balade prévue</p>
				{% endif %}

				{% if nextWalks|length > 4 %}
					<a class="btn" href="{{ path('app_walk_registration_index') }}">Voir plus</a>
				{% endif %}
			</div>

			<div class="home-user__dog">
				<div class="home-user__dog-wrapper">
					<h2 class="home-user__dog-title">Mes chiens</h2>
					<a class="home-user__dog-button" href="{{ path('app_dog_new') }}">Ajouter</a>
				</div>

				{% if dogs|length > 0 %}
					{% for dog in dogs %}
						<div class="home-user__dog--card">
							{% if dog.sex == "female" %}
								<div class="home-user__dog-photo-female">
									{% if dog.photo %}
										<img class="home-user__dog-photo" src="{{ asset('uploads/images/' ~ dog.photo)}}">
									{% else %}
										{{ux_icon('streamline-plump:dog-1-remix', {class: 'home-user__dog-photo'})}}
									{% endif %}
								</div>
							{% elseif dog.sex == "male" %}
								<div class="home-user__dog-photo-male">
									{% if dog.photo %}
										<img class="home-user__dog-photo" src="{{ asset('uploads/images/' ~ dog.photo)}}">
									{% else %}
										{{ux_icon('streamline-plump:dog-1-remix', {class: 'home-user__dog-photo'})}}
									{% endif %}
								</div>
							{% endif %}
							<p class="home-user__dog-name">{{ dog.name }}</p>
						</div>
					{% endfor %}


				{% else %}
					<p>Aucun chien n'est encore inscrit</p>
				{% endif %}
			</div>

			<div class="home-user__trail">
				<div class="home-user__trail-wrapper">
					<h2 class="home-user__trail-title">Rechercher une balade</h2>
					<a class="home-user__trail-button" href="{{ path('app_trail_new') }}">Ajouter un itinéraire</a>
				</div>

				<div class="home-user__trail-search">

					{{ form_start(form, {method: 'get',action: path('app_home'),attr: { class: 'home-user__trail-form', 'data-turbo': 'false' }}) }}
					<div class="home-user__trail-search-bar">

						{{ form_widget(form.search) }}

						<div class="home-user__trail-search-item">
							<button class="home-user__trail-search--button">Rechercher</button>

							<button class="home-user__trail-search--link" type="button" id="toggle-advanced" aria-expanded="false" aria-controls="trail-advanced">
								Afficher plus de critères
							</button>
						</div>
					</div>

					<div id="trail-advanced" class="home-user__trail-search--advanced hidden">
						<div class="home-user__trail-search--advanced-item">
							{{ form_label(form.difficulty)}}
							{{ form_widget(form.difficulty)}}
							{% if form_errors(form.difficulty) %}
								<div class="home-user__trail-search--advanced-error">
									{{ form_errors(form.ifficulty.difficulty)}}
								</div>
							{% endif %}
						</div>

						<div class="home-user__trail-search--advanced-item">
							{{ form_label(form.minDistance)}}
							{{ form_widget(form.minDistance)}}
							{% if form_errors(form.minDistance) %}
								<div class="home-user__trail-search--advanced-error">
									{{ form_errors(form.minDistance)}}
								</div>
							{% endif %}
						</div>

						<div class="home-user__trail-search--advanced-item">
							{{ form_label(form.maxDistance)}}
							{{ form_widget(form.maxDistance)}}
							{% if form_errors(form.maxDistance) %}
								<div class="home-user__trail-search--advanced-error">
									{{ form_errors(form.maxDistance)}}
								</div>
							{% endif %}
						</div>

						<div class="home-user__trail-search--advanced-item">
							{{ form_label(form.minDuration)}}
							{{ form_widget(form.minDuration)}}
							{% if form_errors(form.minDuration) %}
								<div class="home-user__trail-search--advanced-error">
									{{ form_errors(form.minDuration)}}
								</div>
							{% endif %}
						</div>

						<div class="home-user__trail-search--advanced-item">
							{{ form_label(form.maxDuration)}}
							{{ form_widget(form.maxDuration)}}
							{% if form_errors(form.maxDuration) %}
								<div class="home-user__trail-search--advanced-error">
									{{ form_errors(form.maxDuration)}}
								</div>
							{% endif %}
						</div>

						<div class="home-user__trail-search--advanced-item">
							{{ form_label(form.minScore)}}
							{{ form_widget(form.minScore)}}
							{% if form_errors(form.minScore) %}
								<div class="home-user__trail-search--advanced-error">
									{{ form_errors(form.minScore)}}
								</div>
							{% endif %}
						</div>

						<div class="home-user__trail-search--advanced-item">
							{{ form_label(form.maxScore)}}
							{{ form_widget(form.maxScore)}}
							{% if form_errors(form.maxScore) %}
								<div class="home-user__trail-search--advanced-error">
									{{ form_errors(form.maxScore)}}
								</div>
							{% endif %}
						</div>
						<div class="home-user__trail-search--advanced-button">
							<button class="home-user__trail-search--button">Rechercher</button>
						</div>
					</div>
				{{ form_end(form) }}
			</div>


			{% if foundTrails is defined and foundTrails|length > 0 %}
				<div class="home-user__trail-search--results">

					{% for trail in foundTrails %}
						<div class="home-user__trail-card">
							{% if trail.photos|length > 0 %}
								<img class="home-user__trail-photo" src="{{ asset('uploads/images/' ~ trail.photos[0].name) }}" alt="Photo de l'itinéraire {{ trail.name }}">
							{% else %}
								{{ux_icon('f7:photo', {class: 'home-user__trail-photo'})}}
							{% endif %}
							<p class="home-user__trail-name">
								<strong>{{ trail.name }}</strong>
							</p>

							<div class="home-user__trail-description">
								<div class="home-user__trail-item">
									{{ux_icon('material-symbols:distance-rounded', {class: 'home-user__trail-icon'})}}
									<p class="home-user__trail-content">{{ trail.startCity }}
									</p>
								</div>
								<div class="home-user__trail-description">
									<div class="home-user__trail-item">
										{{ux_icon('game-icons:path-distance', {class: 'home-user__trail-icon'})}}
										<p class="home-user__trail-content">{{ trail.distance }}
											km{{ trail.distance > 1 ? "s" : "" }}</p>
									</div>
									<div class="home-user__trail-item">
										{{ux_icon('mingcute:time-fill', {class: 'home-user__trail-icon'})}}
										<p class="home-user__trail-content">{{ trail.duration }}
											min</p>
									</div>
									<div class="home-user__trail-item">
										{{ux_icon('game-icons:strong', {class: 'home-user__trail-icon'})}}
										<p class="home-user__trail-content">{{ trail.difficulty }}</p>
									</div>
									<div class="home-user__trail-item">
										{{ux_icon('mdi:like', {class: 'home-user__trail-icon'})}}
										<div class="home-user__trail-content">

											{% for i in 1.. trail.score %}
												{{ux_icon('material-symbols:star-rounded', {class: 'home-user__trail-score'})}}
											{% endfor %}
											{% for i in 1.. (5 - trail.score) %}
												{{ux_icon('material-symbols:star-outline-rounded', {class: 'home-user__trail-score'})}}
											{% endfor %}
										</div>
									</div>
								</div>

							</div>
								<a class="home-user__trail-button" href="{{ path('app_trail_show', {id: trail.id}) }}">Consulter l'itinéraire</a>


						</div>
					{% endfor %}

				{% else %}
					<p class="home-user__trail-result-info">
						Aucun itinéraire trouvé, veuillez ajuster vos critères de recherche</p>
					<a class="home-user__trail-link" href="{{ path('app_home') }}">Réinitialiser la recherche</a>
				{% endif %}

				{% if foundTrails|length > 8 %}
					<a class="btn" href="{{ path('app_trail_index') }}">Voir plus</a>
				{% endif %}
			</div>
		</section>

		{# Page d'accueil pour visiteurs non connectés #}
	{% else %}
		<section class="home-guest">
			<div class="home-guest__hero">
				<img class="home-guest__hero-img" src="{{ asset('images/hero-picture.jpg') }}" alt="Deux femmes se baladent avec leurs chiens.">
				<h1 class="home-guest__hero-title">Bienvenue sur Snif & Go</h1>
				<h2 class="home-guest__hero-subtitle">Plus de chiens, plus de fun !</h2>
			</div>

			<div class="home-guest__intro">
				<div class="home-guest__intro-container">
					<img class="home-guest__intro-img" src="{{ asset('images/capture-homelog.png') }}" alt="Capture d'écran du site Snif & Go">
					<img class="home-guest__intro-img" src="{{ asset('images/capture-home.png') }}" alt="Capture d'écran du site Snif & Go">
				</div>
				<div class="home-guest__intro-description">
					<p class="home-guest__intro-content">Snif & Go est une plateforme communautaire où chaque utilisateur peut créer un compte, inscrire son chien et participer à des balades organisées par d'autres membres.</p>

					<p class="home-guest__intro-content">
						<strong>L'idée : transformer la promenade quotidienne en moment de partage et de convivialité.</strong>
					</p>

					<p class="home-guest__intro-content">Grâce à une carte collaborative, découvrez et proposez des itinéraires adaptés aux chiens. Chaque balade précise le nombre maximum de chiens autorisés afin de garantir confort et sécurité pour tous.</p>

					<p class="home-guest__intro-content">Plus qu'une application, Snif & Go favorise les rencontres : entre maîtres, entre chiens et avec votre environnement local. Offrez à votre compagnon des sorties enrichissantes, et élargissez votre cercle autour d'une passion commune.</p>
				</div>

				<img class="home-guest__intro-photo" src="{{ asset('images/photo-intro.jpg') }}" alt="Un homme et une femme se baladent avec leur chien">
			</div>

			<div class="home-guest__cta">
				<a class="home-guest__cta-button" href="{{ path('app_register') }}">Créer un compte</a>
			</div>
		</section>
	{% endif %}

{% endblock %}
