{% extends 'base.html.twig' %}

{% block title %}Snif & Go
{% endblock %}

{% block body %}
	<section class="hero">
		<img class="hero__img" src="{{ asset('images/hero-picture.jpg') }}" alt="Deux femmes se baladent avec leurs chiens.">
		<h1 class="hero__title">Bienvenue sur Snif & Go</h1>
		<h2 class="hero__subtitle">Plus de chiens, plus de fun !</h2>
	</section>

	<section class="intro">
		<div class="intro__container">
			<img class="intro__img" src="{{ asset('images/capture-homelog.png') }}" alt="Capture d'écran du site Snif & Go">
			<img class="intro__img" src="{{ asset('images/capture-home.png') }}" alt="Capture d'écran du site Snif & Go">
		</div>
		<div class="intro__description">
			<p class="intro__content">Snif & Go est une plateforme communautaire où chaque utilisateur peut créer un compte, inscrire son chien et participer à des balades organisées par d'autres membres.</p> 

            <p class="intro__content"><strong>L'idée : transformer la promenade quotidienne en moment de partage et de convivialité.</strong></p>

			<p class="intro__content">Grâce à une carte collaborative, découvrez et proposez des itinéraires adaptés aux chiens. Chaque balade précise le nombre maximum de chiens autorisés afin de garantir confort et sécurité pour tous.</p>

			<p class="intro__content">Plus qu'une application, Snif & Go favorise les rencontres : entre maîtres, entre chiens et avec votre environnement local. Offrez à votre compagnon des sorties enrichissantes, et élargissez votre cercle autour d'une passion commune.</p>
		</div>

		<img class="intro__photo" src="{{ asset('images/photo-intro.jpg') }}" alt="Un homme et une femme se baladent avec leur chien">
	</section>

	<section class="cta">
        <a class="cta__button" href="{{ path('app_register') }}">Créer un compte</a>
    </section>
{% endblock %}
