{# templates/trail/_form.html.twig #}
{{ form_start(form, { attr: { class: 'trail-form' } }) }}

  {# --- Champs "généraux" --- #}
  <div class="trail-form__row">
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    {{ form_errors(form.name) }}
  </div>

  <div class="trail-form__row">
    {{ form_label(form.distance) }}
    {{ form_widget(form.distance) }}
    {{ form_errors(form.distance) }}
  </div>

  {# --- Départ : adresse + CP + ville (avec datalist) --- #}
  <fieldset class="trail-form__group">
    <legend>Point de départ</legend>

    <div class="trail-form__row">
      {{ form_label(form.startAddress) }}
      {{ form_widget(form.startAddress) }}
      {{ form_errors(form.startAddress) }}
    </div>

    <div class="trail-form__row">
      {{ form_label(form.startCode) }}
      {# On force l'ID pour matcher ton JS #}
      {{ form_widget(form.startCode, { attr: { id: 'trail_startCode', inputmode: 'numeric', maxlength: 5, pattern: '\\d{5}' } }) }}
      {{ form_errors(form.startCode) }}
    </div>

    <div class="trail-form__row">
      {{ form_label(form.startCity) }}
      {# Champ texte lié à un datalist #}
      {{ form_widget(form.startCity, { attr: { id: 'trail_startCity', list: 'start-city-list', autocomplete: 'address-level2' } }) }}
      <datalist id="start-city-list"></datalist>
      {{ form_errors(form.startCity) }}
    </div>
  </fieldset>

  {# --- Arrivée : adresse + CP + ville (avec datalist) --- #}
  <fieldset class="trail-form__group">
    <legend>Point d’arrivée</legend>

    <div class="trail-form__row">
      {{ form_label(form.endAddress) }}
      {{ form_widget(form.endAddress) }}
      {{ form_errors(form.endAddress) }}
    </div>

    <div class="trail-form__row">
      {{ form_label(form.endCode) }}
      {# On force l'ID pour matcher ton JS #}
      {{ form_widget(form.endCode, { attr: { id: 'trail_endCode', inputmode: 'numeric', maxlength: 5, pattern: '\\d{5}' } }) }}
      {{ form_errors(form.endCode) }}
    </div>

    <div class="trail-form__row">
      {{ form_label(form.endCity) }}
      {{ form_widget(form.endCity, { attr: { id: 'trail_endCity', list: 'end-city-list', autocomplete: 'address-level2' } }) }}
      <datalist id="end-city-list"></datalist>
      {{ form_errors(form.endCity) }}
    </div>
  </fieldset>

  {# --- Autres champs de ton formulaire --- #}
  <div class="trail-form__row">
    {{ form_label(form.duration) }}
    {{ form_widget(form.duration) }}
    {{ form_errors(form.duration) }}
  </div>

  <div class="trail-form__row">
    {{ form_label(form.difficulty) }}
    {{ form_widget(form.difficulty) }}
    {{ form_errors(form.difficulty) }}
  </div>

  <div class="trail-form__row">
    {{ form_label(form.score) }}
    {{ form_widget(form.score) }}
    {{ form_errors(form.score) }}
  </div>

  <div class="trail-form__row">
    {{ form_label(form.water_point) }}
    {{ form_widget(form.water_point) }}
    {{ form_errors(form.water_point) }}
  </div>

  <div class="trail-form__row">
    {{ form_label(form.user) }}
    {{ form_widget(form.user) }}
    {{ form_errors(form.user) }}
  </div>

  {# Reste du formulaire (token CSRF, champs non rendus) #}
  {{ form_rest(form) }}

  <button class="btn">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}