{{ form_start(form) }}
<div class="walk-register__desc-item">
	<p class="walk-register__desc-title">{{ form_label(form.dog)}}</p>
	{{ form_widget(form.dog) }}
	<button class="walk-register__button">{{ button_label|default('Valider') }}</button>
</div>
	{{ form_end(form) }}
