{{ form_start(form, { attr: { class: 'add-walk_form' } }) }}
{% if form_errors(form) %}
	<div class="form__global-errors">
		{{ form_errors(form) }}
	</div>
{% endif %}

<div class="add-walk__form-wrapper">
	<div class="add-walk__form-item">
		{{ form_label(form.date) }}
		{{ form_widget(form.date) }}
		<div class="add-walk__form_error">
			{% if form_errors(form.date) %}
				{{ form_errors(form.date) }}
			{% endif %}
		</div>
	</div>

	<div class="add-walk__form-item">
		{{ form_label(form.max_dogs) }}
		{{ form_widget(form.max_dogs) }}
		<div class="add-walk__form_error">
			{% if form_errors(form.max_dogs) %}
				{{ form_errors(form.max_dogs) }}
			{% endif %}
		</div>
	</div>
</div>

{{ form_rest(form) }}

<button class="add-walk__form-submit">{{ button_label|default("Valider la balade") }}</button>

{{ form_end(form) }}
