{% extends 'base.html.twig' %}

{% block title %}Walk{% endblock %}

{% block body %}
    <h1>Walk</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ walk.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ walk.date ? walk.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Max_dogs</th>
                <td>{{ walk.maxDogs }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ walk.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_walk_index') }}">back to list</a>

    <a href="{{ path('app_walk_edit', {'id': walk.id}) }}">edit</a>

    {{ include('walk/_delete_form.html.twig') }}
{% endblock %}
