<footer>
	<div class="logo">
		<img src="{{ asset('images/logos/logoWhite.png') }}" alt="Logo de Snif & Go">

		<nav>
			<ul>
				<li><ahref="{{ path('app_home') }}">Accueil</a></li>
				<li><ahref="{{ path('app_profile') }}">Mon profil</a></li>
				<li><ahref="{{ path('app_admin') }}">Espace Administrateur</a></li>
				<li><ahref="{{ path('app_logout') }}">Deconnexion</a></li>
			</ul>
		</nav>
	</div>
    <p>© 2025 Snif & Go - Tous droits réservés.</p>

</footer>
