<header class="site-header">

	<div class="site-header__brand">
		<a class="site-header__logo" href="{{ path('app_home') }}">
			<img class="site-header__logo-img" src="{{ asset('images/logos/logoRVB-inline.png') }}" alt="Logo de Snif & Go">
		</a>

		<p class="site-header__tagline">Plus on est de chiens,
			<br>
			<span class="site-header__tagline-end">plus on rit !</span>
		</p>
	</div>

	<div class="site-header__container">
		<nav class="site-header__nav">
			<ul class="site-header__menu">
				<li class="site-header__item">
					<a class="site-header__link" href="{{ path('app_home') }}">Accueil</a>
				</li>
				{% if is_granted('ROLE_USER') %}
					<li class="site-header__item">
						<a class="site-header__link" href="{{ path('app_profile', {'id': app.user.id}) }}">Mon profil</a>
					</li>
					{% if is_granted('ROLE_ADMIN') %}
						<li class="site-header__item">
							<a class="site-header__link" href="{{ path('app_admin') }}">Espace Administrateur</a>
						</li>
					{% endif %}
					<li class="site-header__item">
						<a class="site-header__link" href="{{ path('app_logout') }}">Deconnexion</a>
					</li>

				{% else %}
					<li class="site-header__item">
						<a class="site-header__link" href="{{ path('app_login') }}">Se connecter</a>
					</li>
					<li class="site-header__item">
						<a class="site-header__link" href="{{ path('app_register') }}">S'inscrire</a>
					</li>
				{% endif %}
			</ul>
		</nav>
		{# Emplacement du toggle Eco #}
	</div>


</header>
